<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <a routerLink=""
              ><img
                alt=""
                src="\assets\img\Logo-removebg-preview.png"
                height="50px"
                width="180px"
            /></a>
          </h6>
          <p>
            L’équipe Dotnet Services est le fruit d’une collaboration pérenne
            entre ingénieurs expérimentés et techniciens chevronnés. Notre
            savoir-faire et notre réactivité sauront vous apporter des réponses
            concrètes, personnalisées et rapides, dans le domaine de la
            maintenance et du support informatique.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Liens utiles</h6>
          <p>
            <a routerLink="about-us" class="text-reset">Qui sommes-nous?</a>
          </p>
          <p>
            <a routerLink="nos-services" class="text-reset">Nos Services</a>
          </p>
          <p>
            <a routerLink="contact-us" class="text-reset">Contactez nous</a>
          </p>
          <p>
            <a routerLink="join-us" class="text-reset">Rejoignez nous</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fas fa-home me-3"></i> 15 BD boulevard robert schuman,
            livry-gargan, 93190 France
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            support@dotnet-services.fr
          </p>
          <p><i class="fas fa-phone me-3"></i> (+33) 06 35 35 00 69</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
