<div class="container" style="margin: 20px">
  <div class="join">
    <div class="container layer">
      <br />
      <div class="row d-flex justify-content-center">
        <p class="h1 text-center" style="font-family: Arial">
          Intéressé par nos services​
        </p>
      </div>
      <div class="row">
        <div
          class="col text-center"
          style="margin: 100px; font-size: medium; font-weight: normal"
        >
          Vous pouvez nous contacter facilement en remplissant un simple
          formulaire ou en contactant notre numéro de téléphone 24h/24h et
          7j/7j​
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <a
          routerLink="contact-us"
          class="btn btn-primary"
          style="border-radius: 25px; padding: 10px"
          >Contactez Nous</a
        >
      </div>
    </div>
  </div>
</div>
