.sous-titre {
    color: #7a7a7a;
    font-weight: bold;
    font-family: Arial;
    padding-top: 20px;
  }
  
  .line {
    background-color: #3182ce;
    display: block;
    color: #3182ce;
    overflow: hidden;
    border-style: solid;
    width: 50%;
    margin-top: 25px;
  }
  