<div class="h2 text-center sous-titre">Notre Equipe</div>
<div class="d-flex justify-content-center">
  <span class="line"></span>
</div>
<div class="container bg-light" style="border-radius: 25px; margin-top: 50px">
  <div class="about" style="padding: 50px; margin-top: 50px">
    <div class="layer">
      L’équipe DotNet Services est le fruit d’une collaboration pérenne entre
      ingénieurs expérimentés et techniciens chevronnés. Notre savoir-faire et
      notre réactivité sauront vous apporter des réponses concrètes,
      personnalisées et rapides, dans le domaine de la maintenance et du support
      informatique. Nos interventions vous permettront de vous libérer de
      l’entretien de votre infrastructure informatique, élément clé et
      indispensable du monde des affaires d’aujourd’hui. Cette division des
      tâches, favorise également une pleine concentration sur votre activité
      assurant ainsi, un rendement optimal. En résumé, nous nous soucions du
      traitement de l’aspect technique et informatique de votre stratégie
      commerciale et de votre développement numérique, tout en assurant la
      fourniture des services et ressources essentiels, les mieux adaptés à vos
      projets et exigences.
    </div>
  </div>
</div>
<div class="h2 text-center sous-titre">Nos Valeurs</div>
<div class="d-flex justify-content-center">
  <span class="line"></span>
</div>
<div class="container bg-light" style="border-radius: 25px; margin-top: 50px">
  <div class="" style="padding: 25px; margin-top: 50px">
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <app-valeur
            [link]="listeValues[0].src"
            [desc]="listeValues[0].desc"
            [title]="listeValues[0].title"
          ></app-valeur
          ><app-valeur
            [link]="listeValues[1].src"
            [desc]="listeValues[1].desc"
            [title]="listeValues[1].title"
          ></app-valeur>
        </div>
      </div>
      <div class="col">
        <div class="container-fluid">
          <app-valeur
            [link]="listeValues[2].src"
            [desc]="listeValues[2].desc"
            [title]="listeValues[2].title"
          ></app-valeur>
          <br /><br /><br /><br />
          <app-valeur
            [link]="listeValues[3].src"
            [desc]="listeValues[3].desc"
            [title]="listeValues[3].title"
          ></app-valeur>
        </div>
      </div>
    </div>
  </div>
</div>
