<form [formGroup]="ctcForm" class="row g-3">
    <div class="col">
      <div class="mb-3 row form-group" style="padding: 25px">
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="nom"
            placeholder="Nom"
            formControlName="nom"
            required
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control col"
            id="prenom"
            placeholder="Prénom"
            formControlName="prenom"
            required
          />
        </div>
        <div class="invalid-feedback">Information manquante</div>
      </div>
      <div class="mb-3 row form-group" style="padding: 25px">
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="societe"
            placeholder="Société"
            formControlName="societe"
            required
          />
          <div class="invalid-feedback">Information manquante</div>
        </div>
  
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="post"
            placeholder="Votre Poste (Facultatif)"
            formControlName="post"
          />
        </div>
      </div>
      <div class="mb-3 row form-group" style="padding: 25px">
        <div class="col">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            formControlName="email"
            required
          />
        </div>
        <div class="col">
          <input
            type="tel"
            class="form-control"
            id="telephone"
            placeholder="Téléphone"
            formControlName="telephone"
            required
          />
        </div>
      </div>
      <div class="mb-3 row form-group" style="padding: 25px">
        <div class="col">
          <label for="intervention" class="form-label"
            >Quel type d'intervention souhaitez vous ?
          </label>
          <br />
          <select
            class="form-select"
            id="intervention"
            formControlName="intervention"
            required
          >
            <option selected disabled value="">Choisir...</option>
            <option
              value="Déploiement, masterisation et inventaire de parc informatique."
            >
              Déploiement, masterisation et inventaire de parc informatique.
            </option>
            <option
              value="Installation, retrait logistique, récupération de matériels."
            >
              Installation, retrait logistique, récupération de matériels.
            </option>
            <option value="Gestion des tickets et du parc informatique.">
              Gestion des tickets et du parc informatique.
            </option>
            <option value="Équipe de support téléphonique.">
              Équipe de support téléphonique.
            </option>
            <option value="Prise de main à distance.">
              Prise de main à distance.
            </option>
            <option value="Suivi et reporting.">Suivi et reporting.</option>
            <option value="Gestion de projet.">Gestion de projet.</option>
            <option value="Accompagnement SI.">Accompagnement SI.</option>
            <option value="Service AMOA">Service AMOA</option>
            <option value="Chèque digital région">Chèque digital région</option>
            <option value="Autre">Autre</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row form-group" style="padding: 25px">
        <div class="col">
          <label for="message" class="form-label">
            Exprimer votre demande :
          </label>
          <textarea
            class="form-control"
            id="message"
            placeholder="Votre message ici..."
            formControlName="message"
            required
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" (click)="contact_us()">
            Envoyer
          </button>
        </div>
      </div>
    </div>
  </form>
  