<div class="h2 text-center sous-titre">A propos</div>
<div class="d-flex justify-content-center">
  <span class="line"></span>
</div>
<div class="container bg-light" style="border-radius: 25px; margin-top: 50px">
  <div class="about" style="padding: 50px; margin-top: 50px">
    <div class="layer">
      L’équipe Dotnet Services est le fruit d’une collaboration pérenne entre
      ingénieurs expérimentés et techniciens chevronnés. Notre savoir-faire et
      notre réactivité sauront vous apporter des réponses concrètes,
      personnalisées et rapides, dans le domaine de la maintenance et du support
      informatique.
    </div>
    <br />
    <br />
    <br />

    <a routerLink="about-us" class="btn btn-dark">En savoir plus ...</a>
  </div>
</div>
