<div id="banniere" class="container-fluid">
  <div class="row">
    <div class="h2 col" id="title-banner">Dotnet Services</div>
  </div>
  <div class="row">
    <div class="col" id="text-banner">
      Service IT indispensable pour tous vos besoins informatiques
    </div>
  </div>
  <div style="height: 255px"></div>
  <div class="row justify-content-center">
    <div class="col-2">
      <a routerLink="nos-services" class="btn btn-white btn-animate"
        >Nos Services</a
      >
    </div>
    <div class="col-2" style="color: black">
      <a routerLink="contact-us" class="btn btn-white btn-animate">
        Contactez-nous</a
      >
    </div>
    <img
      src="..\..\..\assets\img\1479328-removebg-preview.png"
      style="width: 100%; max-height: 80px"
    />
  </div>
</div>
