<div class="row align-self-center h-100">
  <div class="row" style="align-self: center">
    <div class="col-2"><i class="fas fa-envelope fa-3x"></i></div>
    <div class="col" style="font-weight: bolder">
      Email : support@dotnet-services.fr
    </div>
  </div>
  <div class="row" style="align-self: center">
    <div class="col-2"><i class="fas fa-map-marker-alt fa-3x"></i></div>
    <div class="col" style="font-weight: bolder">
      Adresse : 15 BD boulevard robert schuman
      <br />
      livry-gargan
      <br />
      93190 France
    </div>
  </div>
  <div class="row" style="align-self: center">
    <div class="col-2"><i class="fas fa-phone fa-3x"></i></div>
    <div class="col" style="font-weight: bolder">
      Téléphone : (+33) 06 35 35 00 69
    </div>
  </div>
</div>
